{hex, [{repos, [
                #{name => <<"hexpm:gustafson_motors">>,
                   api_url => <<"http://localhost:4000/api">>,
                   repo_url => <<"http://localhost:4000">>,
                   repo_verify => false,
                   repo_verify_origin => false
                  },
                #{name => <<"hexpm">>,
                  api_url => <<"http://localhost:4000/api">>,
                  repo_url => <<"http://localhost:4000">>,
                  repo_verify => false,
                  repo_verify_origin => false}
               ]
       }
      ]
}.

{deps, []}.