{plugins, [rebar3_hex, rebar3_ex_doc]}.

{deps, [jsone]}.

{hex, [ 
        {repos, [
                #{
                    name => <<"hexpm:myrepo">>, 
                    api_url => <<"http://localhost:4000/api">>, 
                    repo_url => <<"http://localhost:4000">>, 
                    repo_verify => false, 
                    repo_verify_origin => false
                },
                #{
                    name => <<"hexpm">>, 
                    api_url => <<"http://localhost:4000/api">>, 
                    repo_url => <<"http://localhost:4000">>, 
                    repo_verify => false, 
                    repo_verify_origin => false
                }]}]}.
 
{ex_doc, [
    {logo, <<"logo.jpg">>},
    {source_url, <<"https://github.com/eh/truecoat">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"README">>},
    {proglang, erlang}
]}.
